/* Background */
body {
    background-color: #0E1117;
    color: #FFFFFF;
}

/* Title */
h1 {
    color: #00FFFF;
    text-align: center;
}

/* Buttons */
.stButton > button {
    background-color: #00FFFF;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

/* File uploader */
section[data-testid="stFileUploader"] {
    border: 2px dashed #00FFFF;
    padding: 15px;
    border-radius: 10px;
}

/* Sidebar */
section[data-testid="stSidebar"] {
    background-color: #111827;
}

/* Info boxes */
.stAlert {
    border-radius: 10px;
}